@import "@globalStyles/responsive.css";

:root {
    /*=====================
    Colors
    =======================*/
    --primary: #ec6800;
    --secondary: #ff8b43;
    --third: #CA151F;

    --black: #141414;
    --black-light: #1d1d1d;
    --gray: #8d8d8d;
    --red: #ff4d4d;
    --green: #08fd20;
    --green-dark: #0bd058;
    --yellow: #fdf108;
    --orange: #fdab08;
    --purple: #a258ff;
    --pink: #ff71e8;
    --celeste: #00D4A6;
    --blue: #305dff;
    --salmon: #FF5B64;
    --deepPurple: hsla(242, 88.4%, 66.3%, 1);
}


* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans JP', 'sans-serif';
    transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.1s ease-in-out;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 6px; /* width of the entire scrollbar */
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        /* background: var(--bg-body); /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary); /* color of the scroll thumb */
        border-radius: 4rem; /* roundness of the scroll thumb */

    }

    scrollbar-width: thin; /* "auto" or "thin" */
    /* scrollbar-color: var(--primary) var(--bg-body); /* scroll thumb and track */

}

html{
    padding-right: 0 !important;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;


    #root {
        width: 100%;
        height: 100%;
    }
}

.App {


}

main {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    /* THis value is calculated based on the footer height*/
    min-height: calc(100vh - 78px);
    padding: 10px;
    margin: 0 auto;
    background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    @media (--screen-md) {
        text-align: center;
    }
}

h1 {
    color: var(--primary);
    font-size: 3.0rem;
    font-weight: 500;
    letter-spacing: -5px;
    @media (--screen-md) {
        font-size: 4.0rem;
    }
    /*    @media (--screen-xl) {
            font-size: 6.0rem;
            line-height: 6.0rem;
        }*/
}

h6 {
    color: var(--font-color-h6);
    font-weight: normal;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
}

p {
    font-size: 16px;
    /* color: var(--font-color-p); */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    /* color: var(--font-color-figcaption); */
    font-size: 1.1rem;
}

