@import '../../styles/responsive.css';

.home {
    display: grid;
    gap: 20px;
    align-content: baseline;
    padding-top: 40px;
    position: relative;
}

.bg {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    width: 100%;
}

.status-wrapper {
    display: grid;
    gap: 20px;
    @media (--screen-md) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    > div {
        display: grid;
        gap: 10px;
        align-content: baseline;
    }
}

.status-section {
    display: grid;
    gap: 10px;
}