.AddTaskDialog{
    background: red;
    position: relative;
    z-index: 50;

    > div{
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        position: fixed;
        width: 100%;
        top: 0;
        place-items: center;
    }
}